<h1>Contacto</h1>
<form class="alta-form">
    <div class="input-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre-contacto" required>
    </div>
    <div class="input-group">
        <label for="e-mail">E-mail</label>
        <input type="text" name="e-mail" id="email-contacto" required>
    </div>
    <div class="input-group">
        <label for="comentarios">Comentarios</label>
        <input type="text" name="comentarios" id="comentarios-contacto" required>
    </div>
</form>
